[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
functionfs = "*"
pycryptodomex = "*"
sty = "*"
yappi = "*"

[dev-packages]
pylint = "*"
rope = "*"
pyinstaller = "*"
mypy = "*"
tuna = "*"
snakeviz = "*"

[requires]
python_version = "3.10"

[scripts]
start = "./start.py"
start-with-sudo = "sudo ./start.py"
# Due to how pipenv passes parameters, su is not supported at this moment.
test = "python test.py"
package = "pyinstaller -n ffsds4 --add-binary='ffsds4lib/descriptors/*.desc.bin:ffsds4lib/descriptors' start.py"
package-onefile = "pyinstaller -n ffsds4-onefile --add-binary='ffsds4lib/descriptors/*.desc.bin:ffsds4lib/descriptors' --onefile start.py"
# TODO contribute type stubs to functionfs
typecheck = "mypy --ignore-missing-imports ffsds4lib"
lint = "pylint ffsds4lib"
# TODO should adopt fail under for this
lint-minimal = "pylint --disable=all --enable=E,F ffsds4lib"

[pipenv]
allow_prereleases = true
